# Análise exploratória de dados

In [2]:
import pandas as pd
import seaborn as sns

### Coleta de Dados

In [3]:
df = sns.load_dataset('titanic')
df.to_csv('../data/raw/data.csv', index =False)

## 1. Descrição dos dados

In [4]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [7]:
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [6]:
dicionario_de_dados = pd.DataFrame({
    {
        'variavel': 'survived',
        'descricao': 'Sobrevivente',
        'tipo': 'quantitativo',
        'subtipo': 'discreto'
    }, {
        'variavel': 'pclass',
        'descricao': 'Ticket class',
        'tipo': 'quantitativa',
        'subtipo': 'discreta'
    }, {
        'variavel': 'sex',
        'descricao': 'Sexo',
        'tipo': 'qualitativo',
        'subtipo': 'nominal'
    }, {
        'variavel': 'age',
        'descricao': 'Idade',
        'tipo': 'qualitativo',
        'subtipo': 'discreto'
    }, {
        'variavel': 'sibsp',
        'descricao': 'Irmãos ou esposas a bordo',
        'tipo': 'quantitativo',
        'subtipo': 'discreto'
    }, {
        'variavel': 'parch',
        'descricao': 'Parentes ou filhos a bordo',
        'tipo': 'quantitativa',
        'subtipo': 'discreta'
    }, {
        'variavel': 'fare',
        'descricao': 'Tarifa',
        'tipo': 'quantitativa',
        'subtipo': 'Continua'
    }, {
        'variavel': 'embarked',
        'descricao': 'Portp de embarcação',
        'tipo': 'qualitativa',
        'subtipo': 'nominal'
    }
}
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

## 2. Perguntas de partida e hipóteses

## 3. Insights