# Análise exploratória de dados

In [1]:
import pandas as pd
import seaborn as sns

### Coleta de Dados

In [4]:
df = sns.load_dataset('planets')
df.to_csv('data.csv', index =False)

## 1. Descrição dos dados

In [5]:
df

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

In [8]:
dicionario_de_dados = pd.DataFrame(
    [
        {
            'variavel': 'method',
            'descricao': 'Método de descoberta do planeta',
            'tipo': 'qualitativa',
            'subtipo': 'nominal'
        },
        {
            'variavel': 'number',
            'descricao': 'Número de planetas no sistema',
            'tipo': 'quantitativa',
            'subtipo': 'discreta'
        },
        {
            'variavel': 'orbital_period',
            'descricao': 'Período orbital do planeta em dias',
            'tipo': 'quantitativa',
            'subtipo': 'contínua'
        },
        {
            'variavel': 'mass',
            'descricao': 'Massa do planeta em múltiplos da massa de Júpiter',
            'tipo': 'quantitativa',
            'subtipo': 'contínua'
        },
        {
            'variavel': 'distance',
            'descricao': 'Distância do planeta à Terra em anos-luz',
            'tipo': 'quantitativa',
            'subtipo': 'contínua'
        },
        {
            'variavel': 'year',
            'descricao': 'Ano da descoberta do planeta',
            'tipo': 'quantitativa',
            'subtipo': 'discreta'
        }
    ]
)